<div> 
    <h1 class="display-4">Welcome to the Wedding Planner ~</h1>
    <a asp-action="Logout" asp-controller="home">Logout</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guest</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<a href="/wedding" class="btn btn-info">New Wedding</a>