@model Wedding

<div>
    <a asp-action="Dashboard" asp-controller="home">Dashboard</a>
    <a asp-action="Logout" asp-controller="home">Logout</a>
</div>

<div>
    <h1>Plan your wedding</h1>
<form asp-action="SubmitNewWedding" asp-controller="Home" method="post">
    <span asp-validation-for="WedderOne"></span>
    <label asp-for="WedderOne"></label>
    <input asp-for="WedderOne">

    <span asp-validation-for="WedderTwo"></span>
    <label asp-for="WedderTwo"></label>
    <input asp-for="WedderTwo">
    
    <span asp-validation-for="Date"></span>
    <label asp-for="Date"></label>
    <input asp-for="Date">

    <span asp-validation-for="Address"></span>
    <label asp-for="Address"></label>
    <input asp-for="Address">

    <button class="btn btn-info">Create Wedding!</button>
</form>
</div>